*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  --container: 1250px;
  box-sizing: border-box;
  --padding-vertical: 30px;
  --padding-inline: 95px;
  outline: 1px solid blue;
}

.container {
  max-width: calc(var(--container) + var(--padding-inline) * 2);
  width: auto;
  box-sizing: border-box;
  padding: 0 var(--padding-inline);
  margin: 0 auto;
}

body {
  background-color: #fff;
  min-height: 100vh;
  color: #1a202c;
  padding: 0;
}
img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
  font-weight: 700;
  padding: 1em 1.3em;
  border-radius: 1em;
  border: 1px solid #6c5fbc;
  cursor: pointer;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  display: flex;
}

.dark-gray {
  color: #606060;
}

.white {
  color: #f9f9f9;
}

a:hover {
  color: #6c5fbc;
}

.button-light {
  color: #606060;
  border-color: #fff;
}

.button-dark {
  color: #fff;
  background-color: #6c5fbc;
}

.button-dark:hover {
  color: #6c5fbc;
  background-color: #fff;
  border-color: #6c5fbc;
}

span {
  color: #6c5fbc;
}

.meal-item img {
  width: 75px;
  height: 75px;
}

.meal-item {
  max-width: 330px;
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 18px;
  width: 70%;

  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: absolute;
  padding: 4px 17px 10px;
  border-radius: 17px;
  top: 0;
  left: 0;
  z-index: 400;
}

.meal-item-title {
  font-size: 16px;
  font-weight: 700;
}

.meal-item-description {
  font-size: 10px;
  font-weight: 500;
}

.meal-item-hour {
  align-self: flex-end;
  text-align: end;
}

.meal-item-time {
  color: #acadb9;
  font-size: 11px;
  font-weight: 500;
  padding-left: 22px;
}

@media (max-width: 1024px) {
  html {
    --container: 880px;
    --padding-vertical: 35px;
    --padding-inline: 70px;
  }
  .meal-item {
    height: 63px;
  }
  .meal-item img {
    width: 52px;
    height: 57px;
  }
  .meal-item-title {
    font-size: 11px;
  }

  .meal-item-description {
    font-size: 7px;
  }

  .meal-item-time {
    font-size: 8px;
    padding-left: 11px;
  }
}

@media (max-width: 768px) {
  html {
    --padding-inline: 31px;
  }
  .meal-item {
    height: 63px;
  }
  .meal-item img {
    width: 52px;
    height: 57px;
  }
  .meal-item-title {
    font-size: 11px;
  }

  .meal-item-description {
    font-size: 7px;
  }

  .meal-item-time {
    font-size: 8px;
    padding-left: 11px;
  }
  .meal-item-info {
    text-align: justify;
  }

}

body {
  outline: 1px solid red;
}
