.footer {
  background-color: #eaeaea;
}

.footer__inner {
  font-family: "Inter", sans-serif;
  color: #999999;
  font-weight: 500;
  line-height: 1.5;
  font-size: 18px;

  padding-top: 111px;
  padding-bottom: 80px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(103, 103, 103, 0.4);
}

.footer__nav {
  gap: 40px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  row-gap: 30px;
  padding-top: 60px;
}

.footer__soc1als {
  display: flex;
  gap: 50px;
}
