.restaurants__inner {
  padding-top: var(--padding-top-catalogues);
  padding-bottom: var(--padding-bottom-catalogues);
  border-bottom: 1px solid rgb(103, 103, 103, 0.4);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.restaurants__title {
  margin-bottom: 85px;
}

.restaurants__list {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 65px;
}

.restaurants__item:hover {
  transform: scale(1.1);
}

.restaurants__image {
  width: 100%;
}

.restaurants__info {
  padding: 11px 32px 17px;
}

.restaurants__name {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.7;
}

.restaurants__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 35px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #8e97a6;
}

.restaurants__duration::after {
  content: "•";
  padding-left: 3px;
}

.restaurants__rating {
  position: relative;
  flex: 1 1 auto;
}

.restaurants__rating::before {
  content: "";
  position: absolute;
  right: 103%;
  top: 10%;
  background-image: url("/src/img/star.svg");
  width: 18px;
  height: 18px;
}

button.restaurants__item-button {
  border-radius: 100%;
  background-color: #dbd9ee;
  padding: 10px 13px;
}

svg#restaurants__icon {
  width: 16px;
  height: 21px;
}

@media (max-width: 1024px) {
  .restaurants__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 45px;
  }

  .restaurants__inner {
    font-size: 9px;
  }

  .restaurants__title {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .restaurants__item {
    box-shadow: 7px 40px 36px rgba(229, 229, 229, 0.7);
  }
}

@media (max-width: 768px) {
  .restaurants__list {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 60px;
  }

  .restaurants__inner {
    font-size: 10px;
  }

  .restaurants__title {
    font-size: 30px;
  }

  .restaurants__info {
    padding: 9px 27px 14px;
  }

  .restaurants__name {
    font-size: 21px;
  }

  .restaurants__item-bottom {
    font-size: 15px;
  }

  .restaurants__rating::before {
    top: 8%;
    transform: scale(0.7);
  }

  button.restaurants__item-button {
    padding: 8px 10px;
  }

  svg#restaurants__icon {
    transform: scale(0.7);
  }
}
